services:
  postgres:
    image: postgres:16
    container_name: mypostgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: skillexchange
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d skillexchange"]
      interval: 5s
      timeout: 5s
      retries: 10
volumes:
  pgdata:
